*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url('https://images.pexels.com/photos/912110/pexels-photo-912110.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200');
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 100vh;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
  transition: all 0.4s;

  &:hover {
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
}

input,
button,
textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: $basic-width;
  max-width: 60rem;
  height: 100%;
  min-height: 100vh;
  padding: 5rem 0;
  margin: 0 auto;
  text-align: center;
  background: rgba($black, 0.3);
}
