@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;700&display=swap');

// COLORS
$red: #f14667;
$dark-blue:#485fc7;
$blue: #3f8dd0;
$blue-green: #01d1b2;
$green: #4ac68e;
$yellow: #ffe089;
$grey: #777;
$light-grey-1: #ccc;
$light-grey-2: #f6f6f6;
$white: #fff;
$black: #202020;

// FONT
$default-font-size: 1.6rem;
$font-family: 'Martel', serif;

// WIDTH
$basic-width: 94%;
$basic-max-width: 120rem;
$content-max-width: 60rem;
